@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	border: none !important;
	border-radius: 0 !important;
	box-sizing: border-box !important;
	box-shadow: none !important;
	font-family: "Inter", sans-serif !important;
	outline: none !important;
	text-decoration: none !important;
}

:root {
	--primary: #f48024;
	--light: #f4802455;
	--text: #333;
	--text-dark: #111;
    --text-light: #ddd;
	--bg: #fff;
	--surface: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700 !important;
}

p,
li,
span,
div,
input,
textarea {
	font-weight: 400 !important;
}

/* a,
a:visited,
a:hover,
a:active {
	color: var(--primary) !important;
	text-decoration: none !important;
}

.s-btn,
.s-btn {
	padding: 8px 12px !important;
	font-weight: 500 !important;
}

.s-btn__filled,
.s-btn__filled {
	background-color: var(--primary) !important;
	color: var(--bg) !important;
}
.s-btn__outlined,
.s-btn__outlined,
.s-btn__link {
	background: var(--bg) !important;
	color: var(--primary) !important;
}
.s-btn--badge {
	background: var(--primary) !important;
	color: var(--bg) !important;
}
.s-btn--badge * {
	background: transparent !important;
	color: var(--bg) !important;
} */

/* Body */
body {
	padding-top: 80px !important; /* Adjust for header height */
}

/* ? Header */
header {
	background: var(--bg) !important;
	box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1) !important;
	color: var(--bg) !important;
	height: 80px !important;
}
header.s-topbar .s-topbar--container {
	max-width: 100% !important;
	width: 100% !important;
}
header.s-topbar .s-topbar--logo {
	align-items: center !important;
	display: flex !important;
	height: 100% !important;
	justify-content: center !important;
	padding: 8px 16px !important;
}
header.s-topbar .s-navigation {
	display: flex !important;
	gap: 0 !important;
	height: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	width: fit-content !important;
}
header.s-topbar .s-navigation .s-navigation--item {
	align-items: center !important;
	color: var(--text) !important;
	display: flex !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	height: 100% !important;
	justify-content: center !important;
	padding: 0 16px !important;
	width: 120px !important;
}
header.s-topbar .s-topbar--logo:hover,
header.s-topbar .s-navigation .s-navigation--item:hover {
	background: var(--surface) !important;
	color: var(--text-dark) !important;
}

/* Searchbar */
header.s-topbar .s-topbar--searchbar {
	align-items: center !important;
	display: flex !important;
	height: 100% !important;
	justify-content: center !important;
	padding: 0 16px !important;
}
header.s-topbar
	.s-topbar--searchbar
	.s-topbar--searchbar--input-group
	.s-input {
	border: 2px solid var(--surface) !important;
	border-radius: 24px !important;
	color: var(--text) !important;
	font-size: 16px !important;
	height: 48px !important;
	padding: 0 12px 0 60px !important;
	width: 100% !important;
}
header.s-topbar
	.s-topbar--searchbar
	.s-topbar--searchbar--input-group
	.s-input:is(:focus, :hover, :focus-visible, :focus-within) {
	border-color: var(--light) !important;
}
header.s-topbar
	.s-topbar--searchbar
	.s-topbar--searchbar--input-group
	.s-input-icon {
	align-items: center !important;
	display: flex !important;
	height: 48px !important;
	justify-content: center !important;
	left: 24px !important;
	margin: 0 !important;
	padding: 16px !important;
	position: absolute !important;
	top: 24px !important;
	transform: translate(-50%, -50%) !important;
	vertical-align: initial !important;
	width: 48px !important;
}

header.s-topbar .s-topbar--container nav {
	padding: 0 !important;
}
header.s-topbar .s-topbar--container nav ol.s-topbar--content {
	align-items: center !important;
	display: flex !important;
	height: 100% !important;
	justify-content: center !important;
	padding-right: 16px !important;
}
header.s-topbar .s-topbar--container nav ol.s-topbar--content li {
	align-items: center !important;
	display: flex !important;
	height: 100% !important;
	justify-content: center !important;
	width: 60px !important;
}
header.s-topbar .s-topbar--container nav ol.s-topbar--content li a {
	color: var(--text) !important;
	display: flex !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	height: 100% !important;
	justify-content: center !important;
	width: 100% !important;
}
header.s-topbar
	.s-topbar--container
	nav
	ol.s-topbar--content
	li:is(:first-of-type, :last-of-type) {
	display: none !important;
}
header.s-topbar
	.s-topbar--container
	nav
	ol.s-topbar--content
	li[role="presentation"] {
	width: 0 !important;
}

/* Container */
body > .container {
	max-width: 100% !important;
	width: 100% !important;
}

/* Left Sidebar */
#left-sidebar {
	background: var(--bg) !important;
	padding: 16px 0 !important;
	position: sticky !important;
	top: 80px !important;
	width: 240px !important;
}
#left-sidebar .left-sidebar--sticky-container {
	padding: 0 !important;
	position: sticky !important;
	top: 96px !important;
}
#left-sidebar
	.left-sidebar--sticky-container
	.nav-links
	.nav-links
	.nav-links--link.-link__with-icon {
	align-items: center !important;
	background: var(--bg) !important;
	color: var(--text) !important;
	display: flex !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	height: 48px !important;
	justify-content: flex-start !important;
	padding: 0 16px !important;
}
#left-sidebar
	.left-sidebar--sticky-container
	.nav-links
	.nav-links
	:not(.youarehere)
	.nav-links--link.-link__with-icon:hover {
	background: var(--surface) !important;
	border-right: 4px solid var(--light) !important;
	color: var(--text-dark) !important;
}
#left-sidebar
	.left-sidebar--sticky-container
	.nav-links.nav-links
	.youarehere
	.nav-links--link.-link__with-icon {
	background: var(--light) !important;
	border-right: 4px solid var(--primary) !important;
	color: var(--text-dark) !important;
}

/* content */
#content {
	max-width: unset !important;
	padding: 16px 80px !important;
}
#hide-this-if-you-want {
	display: none !important;
}
#mainbar {
	margin: 0 !important;
	width: calc(100% - 380px) !important;
}
#sidebar,
.sidebar {
	margin-left: 80px !important;
}

/* Questions */
#question-mini-list div .s-post-summary, #questions  .s-post-summary {
	border-left: 4px solid transparent !important;
	padding: 0 !important;
    margin-bottom: 16px !important;
}
#question-mini-list div .s-post-summary:hover, #questions .s-post-summary:hover {
    background: var(--surface) !important;
    color: var(--text-dark) !important;
}
#question-mini-list div .s-post-summary:has(.has-answers), #questions .s-post-summary:has(.has-answers) {
	background: var(--surface) !important;
	border-left: 4px solid var(--light) !important;
}
#question-mini-list div .s-post-summary:has(.has-accepted-answer), #questions .s-post-summary:has(.has-accepted-answer) {
	border-left: 4px solid var(--primary) !important;
	background: var(--light) !important;
	color: var(--text-dark) !important;
}
#question-mini-list div .s-post-summary .s-post-summary--stats, #questions .s-post-summary .s-post-summary--stats {
	display: flex !important;
	flex-direction: column !important;
    justify-content: space-between !important;
	margin: 0 !important;
    padding: 16px !important;
}
#question-mini-list div .s-post-summary.s-post-summary__watched, #questions .s-post-summary.s-post-summary__watched {
	border-left: 4px solid var(--primary) !important;
    background: var(--surface) !important;
    color: var(--text-dark) !important;
}


.s-post-summary .s-post-summary--stats .s-post-summary--stats-item {
    align-items: center !important;
    background: transparent !important;
    color: var(--text) !important;
    display: flex !important;
    justify-content: center !important;
    padding: 4px 8px !important;
}
.s-post-summary .s-post-summary--content {
    padding: 16px !important;
}
.s-post-summary .s-post-summary--content .s-post-summary--content-title {
    color: var(--primary) !important;
    font-size: 20px !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 8px !important;
}
.s-post-summary .s-post-summary--content .s-post-summary--content-title .s-link {
    color: var(--primary) !important;
    font-weight: 500 !important;
}
.s-post-summary .s-post-summary--content .s-post-summary--content-excerpt {
    color: var(--text) !important;
    font-size: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 16px !important;
}
.s-post-summary .s-tag.post-tag::before {
    display: none !important;
}
.s-post-summary:has(.has-accepted-answer) .s-tag.post-tag {
    background: var(--light) !important;
    border: 1px solid var(--primary) !important;
    border-radius: 4px !important;
    color: var(--dark-text) !important;
    font-size: 12px !important;
    padding: 2px 6px !important;
    margin-right: 8px !important;
}
.s-post-summary:not(:has(.has-accepted-answer)) .s-tag.post-tag {
    background: var(--bg) !important;
    border: 1px solid var(--text-light) !important;
    border-radius: 4px !important;
    color: var(--dark-text) !important;
    font-size: 12px !important;
    padding: 2px 6px !important;
    margin-right: 8px !important;
}